@model CarrerLib.Job_Seeker

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Masterlayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Job_Seeker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.jsFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jsFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jsEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jsEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jsPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jsPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jsPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jsPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jsDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jsDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jsCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jsCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jsState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jsState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jsMartialStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jsMartialStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jsLanguagePreferred)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jsLanguagePreferred)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jsResume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jsResume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jsMajor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jsMajor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jsUniversity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jsUniversity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jsInstitute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jsInstitute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jsYearOfGraduation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jsYearOfGraduation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
