@model CarrerLib.Company

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Masterlayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.compNamae)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compNamae)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compBranch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compBranch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compUsername)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.compId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
